.product {
  margin-top: 35px;
  &__header {
    text-align: center;
    h1 {
      font-weight: 900;
      font-size: clamp(5rem, 15vw, 15rem);
      line-height: 1;
      color: var(--text-color-secondary);
      letter-spacing: -0.045em;
    }
  }
  &__details {
    position: relative;
    max-width: 600px;
    margin: 75px auto;
  }
  &__info {
    margin-top: 25px;
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
  }
  &__guides {
    cursor: pointer;
    button {
      font-size: 1.6rem;
      color: var(--text-color-secondary);
    }
    button svg {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-left: 8px;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__options {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid rgba(30, 37, 36, 0.23);
    border-bottom: 1px solid rgba(30, 37, 36, 0.23);
  }
}
