.related {
  text-align: center;
  margin-bottom: 75px;
  h2 {
    font-size: clamp(4.5rem, 5.1vw, 5.1rem);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 75px;
  }
  &_link {
    position: relative;
    margin-top: 115px;
    display: inline-block;
    color: var(--text-color-secondary);
    padding-bottom: 5px;
    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid var(--text-color-secondary);
      transform: scaleX(1);
      transform-origin: right;
      transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    svg {
      width: 15px;
      height: 15px;
      vertical-align: center;
      margin-right: 12px;
    }
    &:hover::after {
      transform-origin: left;
      transform: scaleX(0);
    }
  }
}
