.popup_sizes {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: transparentize($color: #000000, $amount: 0.5);

  &__modal {
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    img {
      display: block;
      width: 100%;
    }
  }
  &__close {
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    svg {
      stroke: var(--text-color-secondary);
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    &:hover {
      background-color: var(--background-color-sec);
    }
  }
}
