.story {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  &__quote {
    max-width: 650px;
    q {
      font-size: 5.5rem;
      line-height: 1.2;
    }
    span {
      font-size: 2.2rem;
      &:before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: var(--text-color);
        vertical-align: middle;
        margin: 0 12px;
      }
    }
  }
  &__info {
    max-width: 400px;
    p {
      margin-bottom: 50px;
    }
  }
}
