.productHeader {
  text-align: center;
  h1 {
    font-weight: 900;
    font-size: clamp(5rem, 15vw, 15rem);
    line-height: 1;
    color: var(--text-color-secondary);
    letter-spacing: -0.045em;
  }
}
